<!--footer-->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Todo list</h5>
                <p class="grey-text text-lighten-4">This todo-list PWA is an experimental project, bugs can happen.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 page-link" href="profile">Profile</a></li>
                    <li><a class="grey-text text-lighten-3 page-link" href="about">About</a></li>
                    <li><a class="grey-text text-lighten-3 page-link" href="notes-list">Notes</a></li>
                    <li><a class="grey-text text-lighten-3 page-link" href="login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Romain Laneuville
        </div>
    </div>
</footer>
