<!--menu left-->
<ul id="menu-left" class="sidenav">
    <li>
        <div class="user-view cover" id="user-view">
            <img class="circle picture" src="/images/unknown.png" alt="Profile picture">
            <span class="white-text name"></span>
            <span class="white-text email"></span>
        </div>
    </li>
    <li><a href="notes-list" class="page-link"><i class="material-icons">list</i>Notes</a></li>
    <li><a href="profile" class="page-link"><i class="material-icons">account_circle</i>Profile</a></li>
    <li><a href="about" class="page-link"><i class="fas fa-question-circle fa-lg center"></i>About</a></li>
</ul>

<a href="#" data-target="menu-left" id="toggle-menu-left" class="sidenav-trigger">
    <i class="material-icons medium">menu</i>
</a>
