<form class="col s12" id="note-form" data-id="-1">
    <div class="row">
        <div class="input-field col s12">
            <input id="note-title-input" type="text">
            <label for="note-title-input">Title</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="note-content-input" class="materialize-textarea"></textarea>
            <label for="note-content-input">Content</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button id="save-note" class="btn waves-effect waves-light">
                Submit <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>

<button id="notes-list-open" class="btn waves-effect waves-light">
    return <i class="material-icons right">send</i>
</button>
