<!-- Modal popup for notification purpose -->
<div id="modal-popup" class="modal">
    <div class="modal-content">
        <h4 class="title">Modal Header</h4>
        <p class="content">A bunch of text</p>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat">OK</button>
    </div>
</div>
