<%- include /ejs/pages/components/loader.ejs %>

<h2>About</h2>

<p>This application is a simple boilerplate to build a PWA easily with a webpack config.</p>

<p>It also provides a kind of todo-list where you can create / update / remove / pinned and ordered some notes.</p>
